<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/styles/shared.css" />
    <link rel="stylesheet" href="/styles/restaurants.css" />
  </head>
  <body>
    <li class="restaurant-item">
      <article style="text-align: center;">
        <h1><%=restaurant.name%></h1>
        <div class="restaurant-meta">
          <p><%=restaurant.cuisine%></p>
          <p><%=restaurant.address%></p>
        </div>
        <p><%=restaurant.description%></p>
        <div class="restaurant-actions"></div>
      </article>
    </li>
  </body>
</html>
